<form [formGroup]="actuationRequestForm" novalidate (ngSubmit)="sendActuation()">
  <mat-card class="actuation-request-card">
    <mat-card-header>
      <mat-card-title>Please provide Actuation Request data:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Actuation payload: " formControlName="payload">
            <mat-error *ngIf="actuationRequestForm.controls['payload'].hasError('required')">
              Sensor id is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-interface-dropdown (interfaceChosen)="addActuationInterface($event)"></app-interface-dropdown>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Push</button>
    </mat-card-actions>
  </mat-card>
</form>
