.action-box {
  width: 100%;
  height: 20%;
  outline: darkgray dashed thin;
  margin-top: 30px;
  padding: 10px;
}

.full-width {
  width: 100%;
}

.actuation-request-card {
  min-width: 120px;
  margin: 20px auto;

  .response-body-item {
    margin-right: 15px;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
