<form *ngIf="!actuationRequestResponse" [formGroup]="actuationRequestForm" (ngSubmit)="sendActuation(actuationReq)" #actuationReq="ngForm">
  <mat-card class="actuation-request-card">
    <mat-card-header>
      <mat-card-title>Initiate Actuation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Actuation payload: " formControlName="payload">
            <mat-error *ngIf="actuationRequestForm.controls['payload'].hasError('required')">
              Sensor id is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-interface-dropdown (interfaceChosen)="addActuationInterface($event)"></app-interface-dropdown>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!actuationRequestForm.valid">Push</button>
    </mat-card-actions>
  </mat-card>
</form>
<div class="row">
  <div class="col">
    <mat-card *ngIf="actuationRequest" class="actuation-request-card">
      <mat-card-header>
        <mat-card-title>Actuation Request:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-general-info
          [dataSource]="actuationRequestInfo(actuationRequest)"></app-general-info>
        <button mat-stroked-button color="primary" (click)="newActuation()">New Actuation Request</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col">
    <mat-card *ngIf="actuationRequestResponse" class="actuation-request-card">
      <mat-card-header>
        <mat-card-title>Actuation Request Response:</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-general-info
          [dataSource]="actuationRequestResponseInfo(actuationRequestResponse)"></app-general-info>
      </mat-card-content>
    </mat-card>
  </div>
</div>
